// fonts
$header-font: serif;
$body-font: sans-serif;
// colors
$turquoise: #00d5d6;
$gray: #3e3e3e;
$purple: #d500ee;
$transparent: rgba(241, 241, 241, 0.32);
// text sizes
$primary: 2rem;
$secondary: 1rem;
$copy: 16px;
// Measurments/Spacing
$header-bottom: 0.5rem;